---
import BaseLayout from '../layouts/Base.astro';
import SocialMediaLinks from "@/components/SocialMediaLinks";

---

<BaseLayout title="Home">
	
	<section>
		<h1 class="title">var greeting: String = "Hello EveryOne"</h1>
		<p class="mb-4 sm:mb-8">
			This is a place for t
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>
	<div class="w-full h-96 bg-white mx-auto">

	</div>
	<section>
		<h6 class="title">I can ....</h6>

	</section>

	<!-- <section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section> -->

	<!-- <section class="mt-16">
			<h2 class="title">Technologies</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section> -->
</BaseLayout>
